#container {
    display: flex;
    justify-content: center;
}
#grid {
    display: flex;
    border: 2px solid rgb(87, 65, 33);
    border-radius: 5px;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 600px;
    width: 600px;
}

#button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#changeSize {
    background-color: rgb(210, 164, 115);
    border: 1px solid rgb(95, 65, 23);
    color: rgb(95, 65, 23);
    font-weight: 700;
    font-size: large;
    border-radius: 5px;
    padding: 3px 10px;
}

/*